/* File: src/layout/AdminLayout.css */

.admin-layout {
    display: flex;
    height: 100vh;
}


.logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu li {
    padding: 12px 20px;
    transition: background 0.2s;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu li:hover,
.menu li.active {
    background-color: #e53935;
}

.main-content {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    overflow-y: auto;
}