.admin-header {
  background-color: #c41c1c ;
  color: white;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
}

.admin-header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-header .left a,
.admin-header .right a,
.admin-header .logout-btn {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-weight: 500;
  background: #ff9900ce;
  border: none;
  cursor: pointer;
}



.admin-header .logout-btn:hover,
.admin-header .back-to-user:hover {
  text-decoration: underline;

}
